groups:
- name: NodeExporter
  rules:

  # Instance Availability
  - alert: InstanceDown
    expr: up == 0
    for: 5m
    labels:
      severity: Critical
      # project: on-prem
      # service: on-prem
    annotations:
      summary: "Instance {{ $labels.instance }} down"
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 5 minutes."

  # - alert: InstanceDown
  #   expr: up == 0
  #   for: 2m
  #   labels:
  #     severity: Critical
  #     service: on-prem
  #   annotations:
  #     summary: "Instance {{ $labels.instance }} down"
  #     description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 2 minutes."

  # CPU Usage
  - alert: HighCPUUsage
    expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
    for: 5m
    labels:
      severity: High
    annotations:
      summary: "High CPU usage on {{ $labels.instance }}"
      description: "CPU usage is above 80% for more than 5 minutes (current value: {{ $value }}%)"
    
  # Memory Usage
  - alert: HighMemoryUsage
    expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes * 100 > 90
    for: 5m
    labels:
      severity: High
    annotations:
      summary: "High memory usage on {{ $labels.instance }}"
      description: "Memory usage is above 90% for more than 5 minutes (current value: {{ $value }}%)"

  # Swap Usage
  - alert: HighSwapUsage
    expr: (node_memory_SwapTotal_bytes - node_memory_SwapFree_bytes) / node_memory_SwapTotal_bytes * 100 > 95
    for: 5m
    labels:
      severity: High
    annotations:
      summary: "High swap usage on {{ $labels.instance }}"
      description: "Swap usage is above 95% for more than 5 minutes (current value: {{ $value }}%)"

  # Disk I/O Usage
  - alert: HighDiskIOUsage
    expr: rate(node_disk_io_time_seconds_total[5m]) * 100 > 85
    for: 5m
    labels:
      severity: High
    annotations:
      summary: "High disk I/O on {{ $labels.instance }}"
      description: "Disk I/O utilization is above 85% for more than 5 minutes (current value: {{ $value }}%)"

  # Disk Space Usage
  - alert: DiskSpaceRunningOut
    expr: (node_filesystem_size_bytes{mountpoint="/"} - node_filesystem_free_bytes{mountpoint="/"}) / node_filesystem_size_bytes{mountpoint="/"} * 100 > 95
    for: 5m
    labels:
      severity: Critical
    annotations:
      summary: "Disk space running out on {{ $labels.instance }}"
      description: "Disk usage is above 95% (current value: {{ $value }}%)"
